@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "./partials/_bs_variables.scss";
@import "bootstrap/scss/bootstrap.scss";

// html formatting section
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #242340;
    background-image:url(/public/Group_7543.svg);
    background-size: cover;
}

// anchor general formatting section
// anchor
a{
    text-decoration: none;
}

// list general formatting section
// unordered list
ul{
    list-style-type: none;
}

.line-green{
    height: 3px;
    width: 60px;
    background-color: #39ffbf;
}

// green botton
.green-btn{
    background-color: #39ffbf;
    color: #1f1e38;
}

// red botton
.red-btn{
    background-color: #f00e2e;
}

// grey botton
.grey-btn{
    background-color: #1f1e38;
}

